body {
  background:radial-gradient(#00d4ff, #3a3293);
  margin: 0;
  
}

.game-title {
  color: purple;
  text-align: center;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  
}

html {
  min-height: 100vh;
}

*{
  box-sizing: border-box;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  
}

.gameCard {
  position: relative;
  background: radial-gradient(#3a3293, #100038, #3a3293);
  height: 150px;
  width: 150px;
  border-radius: 5%;

}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
}

cardBack {
  
  border-color: black;
}

.rocketsBall {
  position: absolute;
  width: 57px;
  height: 37px;
}

.ballTopLeft {
  top: 0;
  left: 0;
  
}


.ballTopRight {
  top: 0;
  right: 0;
}


.ballLowLeft {
  bottom: 0;
  left: 0;
}

.ballLowRight {
  bottom: 0;
  right: 0;
}



.qMark {
  align-self: flex-start;
  transform: translateY(35px);
}