* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;

}

body {
  margin: 0;
  background: radial-gradient(#00d4ff, #3a3293);
}

.gameName {
  color: navy;
  font-family: serif;
  font-weight: normal;
  text-align: center;
  font-size: 72px;
}

.gameBoard {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 4750px;
}

.card {
  position: relative;
  height: 150px;
  width: 150px;
}

.cardFace {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .cardBack {
  transform: rotateY(-180deg); 
}

.card.visible .cardFront {
  transform: rotateY(0); 
}

.card.matched .cardFront .cardVal {
  animation: dance 1s linear infinite 500ms;
}

.cardBack {
  background: radial-gradient(#3a3293, #100038, #3a3293);
  border-color: black;
  transform: rotateY(0); 
}

.pokeBall {
  position: absolute;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  width: 47px;
  height: 47px;
}

.cardFace:hover .pokeBall {
  width: 52px;
  height: 52px;
}

.ballTopLeft {
  transform: rotate(270deg);
  top: 0;
  left: 0;
}

.ballTopRight {
  top: 0;
  right: 0;
}

.ballBottomLeft {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}

.ballBottomRight {
  transform: rotate(90deg);
  bottom: 0;
  right: 0;
}

.qMarkUnown {
  align-self: flex-start;
  transition: transform 100ms ease-in-out;
  transform: translateY(35px);
}

.cardBack:hover .qMarkUnown {
  transform: translateY(0);
}

.cardVal {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
}

.cardFront:hover .cardVal {
  transform: scale(1);
}

.cardFront {
  background-color: blue;
  border-color: black;
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: White;
  font-family:serif;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-30deg)
  }
  75% {
    transform: rotate(30deg)
  }
}

@keyframes overlay-grow {
  from {
    background-color: white;
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

