* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;

}

body {
  margin: 0;
  background:radial-gradient(#00d4ff, #3a3293);
}

.gameName {
  color: navy;
  font-family: serif;
  font-weight: normal;
  text-align: center;
  font-size: 72px;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: navy;
  font-size: 25px;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.gameBoard {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 4750px;
}

.card {
  position: relative;
  height: 150px;
  width: 150px;
}

.cardFace {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .cardBack {
  transform: rotateY(-180deg); 
}

.card.visible .cardFront {
  transform: rotateY(0); 
}



.cardBack {
  background: radial-gradient(#3a3293, #100038, #3a3293);
  border-color: black;
  transform: rotateY(0); 
}

.pokeBall {
  position: absolute;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  width: 47px;
  height: 47px;
}

.cardFace:hover .pokeBall {
  width: 52px;
  height: 52px;
}

.ballTopLeft {
  top: 0;
  left: 0;
}

.ballTopRight {
  top: 0;
  right: 0;
}

.ballBottomLeft {
  bottom: 0;
  left: 0;
}

.ballBottomRight {
  bottom: 0;
  right: 0;
}

.qMarkUnown {
  align-self: flex-start;
  transform: translateY(35px);
}


.cardVal {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
}



.cardFront {
  background-color:#6265a9;
  border-color: black;
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: blanchedalmond;
  font-family:serif;
  transition: background-color 500ms, font-size 500ms;
} 

 .overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}
 
 /* @keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-30deg)
  }
  75% {
    transform: rotate(30deg)
  }
} */

@keyframes overlay-grow {
  from {
    background: radial-gradient(circle, rgba(184,224,120,1) 0%, rgba(178,231,161,1) 45%, rgba(121,189,158,1) 100%);
    font-size: 0;
  }
  to {
   background: radial-gradient(circle, rgba(184,124,26,1) 0%, rgba(159,43,65,1) 100%);
    font-size: 10em;
  }
}